/*paramètres généraux*/
p {
    font-size: 14px;
}
h1 {
    font-size: 40px;
}
body {
    margin: 0;
}

/* header */

header {
    display: flex;
    border: solid 2px;
    height: 200px;
    align-items: center;
    }
.logo {
    margin-right: 1200px;
    padding: 10px 10px 10px 10px;
    border: solid 1px;
    max-width: 500%;
   }
.navigation a {
    padding: 20px 20px 20px 20px;
    font-size: 20px;
}



