/*paramètres généraux*/

@font-face {
    font-family: 'Raleway';
    src: url('fonts/Raleway-Light.ttf');
    src: url('fonts/Raleway-Bold.ttf');
    src: url('fonts/Raleway-Regular.ttf');
    }
    * {
        box-sizing:border-box;
    }      

body {
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
}
a {
    text-decoration: none;
    color: black;
}
.fas {
    color: #0065FC;
    font-weight: bold;
}
sub {
 vertical-align: sub;
 font-size: smaller;
}
.fa-chart-line {
    color: black;   
    font-size: 1.2em;
    margin-left: 70px;
}
h2 {
    font-weight: bold;
    margin-left: 10px;
}

/* dénut du header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 60px;
    height: 120px;
  
}
.logo img {
    width: 30%;
    object-fit: cover;
    margin-left: 10px;
}

nav a {
    padding-top: 20px;
    font-size: 1.2em;
    color: black;
    margin-right: 40px;
}
nav a:hover {
    color: #0065FC;
    font-weight: bold;
    background: transparent;
    transform: scale(1.03);
    border-top: blue solid 2px;   
}  

/* fin du header */

/* debut du main */

.titreSoustitre h1  {
    margin: 10px 0 0 10px;
}
.titreSoustitre p {
    margin: 5px 0 20px 10px;
}
.recherche {
    display: flex;
    overflow: auto;
    margin: 0 0 0 10px;
}
.icone {
    background-color: #F2F2F2;
    border-radius: 1rem 0 0 1rem;
    padding: 0 1em 0 0;
    
  } 
.barreRecherche {
    font-weight: bold;
    border-right: none;
    border-left: none;
    border-top: #F2F2F2 1px solid;
    border-bottom: #F2F2F2 1px solid;
    padding: 0 1.5em;
    width: 15em;
    height: 3em;
    font-size: 1em;
    margin-left: 10px;
}
.fa-map-marker-alt {
    padding: 0.9em 0.7em 1em 1.8em;
    color: black;
}
.loupe {
    background-color: #0065FC;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 0 1rem 1em 0;
    padding: 0 1.5em;
    font-size: 1em;
    cursor: pointer;
}
.rechercher {
    border-radius: 0 2rem 2rem 0;
}
.filtres {
    display: flex;
    margin: auto;
    margin-left: 10px;

}
.nomfiltres {
    font-size: 1.3em;
    margin: 2.1em 2em 2em 0;
}   
.barreFiltre {
    display: flex;
    align-items: center;
    height: 49px;
    margin-top: 30px;
    margin-right: 40px;
    border: 2px solid #d9d9d9;
    border-radius: 2em;
}
.barreFiltre:hover {
    background-color:#DEEBFF;
    border: 2px solid;
    transform: scale(1.03);
}
.image {
    background-color: #DEEBFF;
    border-radius: 100%;
    height: 3rem;
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -2px;
}
.titre {
    font-weight: bold;
    padding-right: 1.5em;
    padding-left: 0.5em;
}
.info {
    display: flex;
    align-items: center;
    margin-left: 10px;
}
.iconeinfo {   
    border: solid 1px #d9d9d9;
    border-radius: 100%;
    margin-right: 1em;
    height: 1.5em;
    width: 1.5em;
 } 
.fa-info {
    text-align: center;
    color: #0065FC;
    padding: 0.2em 0.2em 0.1em 0.2em;
}
.hebergementsetPopulaires {
    display: flex;
    justify-content: space-between;
    width: 94%;
 }
.hebergements {
    background-color: #F2F2F2;
    border-radius: 1.25rem;
    width: 67%;
}
 .marseille {
    display: flex;
    flex-wrap: wrap;    
    align-content: space-around;
    justify-content: space-around;
    padding: 10px;
}
 .etoiles {
     margin: 5px 0 0 10px;
 }
 .grey {
     color: lightgrey;
     font-weight: bold;
 }
 .hbg {
    background-color: white;
    border-radius: 1.25rem;
    box-shadow: 0 0 16px #0000002e;
    transition-duration: 0.1s;
    cursor: pointer;
    margin: 0.5em;
    padding: 0.5em;;   
}
.hbg:hover {
    transform: scale(1.03);
}
.hbg h3 {
    color: black;
    font-weight: bold;
    font-size: 1.3em;
    margin: 0 0 0 10px;
}
.hbg p {
    color: black;
    margin: 0 0 2px 10px;
    font-size: 1em;
}
.hbg sub {
    font-weight: normal;
}
.hotel {
    border-radius: 1.25em 1.25em 0 0;
    object-fit: cover;
    width: 240px;
    height: 110px;
}

.hbgtitre {
    margin-left: 30px;
   
 }
.afficher {
    margin-left: 30px;
    padding-bottom: 30px;
    font-size: 1.2em;
    font-weight: bold;
 } 
 .plusPopulaires {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #F2F2F2;
    border-radius: 1.25rem;
    width: 26%;
}
.blockPopu {
    display: flex;
    background-color: white;
    border-radius: 1.25rem;
    box-shadow: 0 0 16px #0000002e;
    cursor: pointer;
    width: 304px;
    margin-bottom: 8px;
    padding: 0.2em;
 }
 .blockPopu:hover {
    background-color: white;
    transform: scale(1.03);
}
 .imageplusPopulaires {
    width: 140px;
    height: 140px;
    border-radius: 1.25em 0 0 1.25em;
    object-fit: cover;
    padding: 0.3em;
 }
 .popuTitre  {
   display: flex;
   align-items: center;
}
.touslesblocksactivites {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;  
    height: 496px;
    margin-right: 90px;
    margin-top: 50px;
    margin-bottom: 100px;
}
.activitesTitre {
    color: black;
    font-weight: bold;
    font-size: 1.3em;
    padding-top: 50px;
}
.nomActivites {
    font-weight: bold;
    margin: 5px 0 0 15px ;
}
.blockActivites1 {
    background-color:white;
    border-radius: 1.25rem;
    box-shadow: 0 0 16px #0000002e;
  }
.blockActivites1:hover {
    background-color: white;
    transform: scale(1.03);
}
.activites1image {
    width: 300px;
    height: 440px;
    object-fit: cover;
    border-radius: 1.25rem 1.25rem 0 0;
}
.blockActivites2 {
    background-color:white;
    border-radius: 1.25rem;
    box-shadow: 0 0 16px #0000002e;
}
.blockActivites2:hover {
    background-color: white;
    transform: scale(1.03);
}
.activites2image {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 1.25rem 1.25rem 0 0;
    
}  
.blockActivites3 {
    background-color:white;
    border-radius: 1.25rem;
    box-shadow: 0 0 16px #0000002e;

}
.blockActivites3:hover {
    background-color: white;
    transform: scale(1.03);
}
.activites3image {
    width: 300px;
    height: 110px;
    object-fit: cover;
    border-radius: 1.25rem 1.25rem 0 0;
}
.blockActivites4 {
    background-color:white;
    border-radius: 1.25rem;
    box-shadow: 0 0 16px #0000002e;
}
.blockActivites4:hover{
    background-color: white;
    transform: scale(1.03);
}
.activites4image {
    width: 300px;
    height: 440px;
    object-fit: cover;
    border-radius: 1.25rem 1.25rem 0 0;
}    
.blockActivites5 {
    background-color:white;
    border-radius: 1.25rem;
    box-shadow: 0 0 16px #0000002e;
}
.blockActivites5:hover {
    background-color: white;
    transform: scale(1.03);
}
.activites5image {
    width: 300px;
    height: 140px;
    object-fit: cover;
    border-radius: 1.25rem 1.25rem 0 0;
}
.blockActivites6 {
    background-color:white;
    border-radius: 1.25rem;
    box-shadow: 0 0 16px #0000002e;
}
.blockActivites6:hover {
    background-color: white;
    transform: scale(1.03);
}
.activites6image {
    width: 300px;
    height: 180px;
    object-fit: cover;
    border-radius: 1.25rem 1.25rem 0 0;
}


/* fin du main */

/* debut footer */
footer {
    background-color: #F2F2F2;
    width: 100%;
 }
.blockFooter {
    display: flex;
    max-width: 100%;
    padding: 0 1rem;
    box-sizing: border-box;
}
.interieurblockFooter {
    width: 50%;
}
.footerTitre {
    display: block;
    font-size: 1.17em;
    font-weight: bold;
}
.lignesFooter {
    color: black;
    display: block;
    margin: 1rem 0;
}
/* fin footer */

@media all and (max-width: 1439px)
{
    nav a {
        padding-top: 20px;
        font-size: 1.2em;
        color: black;
    }
    .filtres {
        display: flex;
        flex-direction: column;        
    }
    
    .hebergements {
        background-color: #F2F2F2;
        border-radius: 1.25rem;
    }
     .marseille {
        display: flex;
        flex-wrap: wrap;    
        align-content: space-around;
        justify-content: space-around;
        padding: 10px;
    }
    .hotelplusPopulaires {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        background-color: #F2F2F2;
        border-radius: 1.25rem;

    }
    

}

/* en attente

@media all and (max-width: 480px)
{
    .logo img {
        width: 70%;
        object-fit: cover;
    }
    .navigation {
        padding: 2em;;
    }
    .navigation a {
        padding: 1.5em;
        font-size: 1.2em;
        font-family: "Raleway", "Sans serif";
        text-decoration: none;
        color: black;
    }
    .navigation a:hover {
        color: #0065FC;
        font-weight: bold;
        background: transparent;
        transform: scale(1.03);
        border-top: blue solid 3px;
        padding-bottom: 24px;
    }
    .nomfiltres {
        font-size: 2em;
        margin: 1em 0 1em 1em;;
        font-family: "Raleway", "Sans serif";       
    }
    .filtres {
        display: inline;
    }
    .barreFiltre {
        display: flex;
        align-items: center;
        height: 60px;
        margin-top: 1.5em;
        margin-right: 2em;
        border: 2px solid #d9d9d9;
        border-radius: 2em;
        font-weight: bold;
    }
    .hebergementsetPopulaires {
        display: flex;
        flex-direction: column-reverse;
    }
    .hebergements {
        display: flex;
        flex-wrap: wrap;
        border-radius: 1.25rem;
        width: 105%;
        margin: 20px;
        padding: 5px;
     }
     .afficher {
        margin: 20px 30px 10px 10px;
        font-size: 1.2em;
        font-weight: bold;
     } 
     .populaires {
        display: flex;
        flex-flow: column wrap;
        background-color: #F2F2F2;
        border-radius: 1.25rem;
        margin: 30px;
        padding: 10px;
        width: 132%;
   }
   .act1et2 {
       display: flex;
        flex-direction: column;
   }
   .act1 {
       display: flex;
       flex-direction: column;
   }
   .act2 {
       display: flex;
       flex-direction: column;
   }
   .blockActivites1 {
    background-color:white;
    border-radius: 1.25rem;
    box-shadow: 0 0 16px #0000002e;
    margin: 1em 0 2em 0;
  }
.blockActivites1:hover {
    background-color: white;
    transform: scale(1.03);
}
.activites1image {
    width: 400px;
    height: 120px;
    object-fit: cover;
    border-radius: 1.25rem 1.25rem 0 0;
}

.blockActivites2 {
    background-color:white;
    border-radius: 1.25rem;
    box-shadow: 0 0 16px #0000002e;
}
.blockActivites2:hover {
    background-color: white;
    transform: scale(1.03);
}
.activites2image {
    width: 350px;
    height: 120px;
    object-fit: cover;
    border-radius: 1.25rem 1.25rem 0 0;  
}
.blockActivites3 {
    background-color:white;
    border-radius: 1.25rem;
    box-shadow: 0 0 16px #0000002e;
}
.blockActivites3:hover {
    background-color: white;
    transform: scale(1.03);
}
.activites3image {
    width: 350px;
    height: 120px;
    object-fit: cover;
    border-radius: 1.25rem 1.25rem 0 0;
}
.blockActivites4 {
    background-color:white;
    border-radius: 1.25rem;
    box-shadow: 0 0 16px #0000002e;
}
.blockActivites4:hover{
    background-color: white;
    transform: scale(1.03);
}
.activites4image {
    width: 350px;
    height: 120px;
    object-fit: cover;
    border-radius: 1.25rem 1.25rem 0 0;
} 
.blockActivites5 {
    background-color:white;
    border-radius: 1.25rem;
    box-shadow: 0 0 16px #0000002e;
}
.blockActivites5:hover {
    background-color: white;
    transform: scale(1.03);
}
.activites5image {
    width: 350px;
    height: 120px;
    object-fit: cover;
    border-radius: 1.25rem 1.25rem 0 0;
}
.blockActivites6 {
    background-color:white;
    border-radius: 1.25rem;
    box-shadow: 0 0 16px #0000002e;
}
.blockActivites6:hover {
    background-color: white;
    transform: scale(1.03);
}
.activites6image {
    width: 300px;
    height: 100px;
    object-fit: cover;
    border-radius: 1.25rem 1.25rem 0 0;
}   
.blockFooter {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin: auto;
    padding: 0 2rem;
    box-sizing: border-box;
}
.interieurblockFooter {
    width: 80%;
}
    
}

*/



